.article-item {
    border: 1px lightgrey solid;
    border-radius: 5px;
    padding: 1em;
    margin: 0px 0px 1em 0px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.fit-text {
    overflow: auto;
    margin-top: 0.5em;
}